<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="CSS/finalProject.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="finalProject.js"></script>
	<title>Apollo New Party</title>
</head>
<body>
	<div id="topBar" class="homeDivs">
		<span id="title">Apollo New Party</span>
		<div id="signin">
			<input type="submit" name="logout" value="Sign Out" form="signUpForm" />
		</div>
	</div>
	<br/>
	<br/>
	<div id="partyForm">
		<div id="innerDiv" class="homeDivs">
			<form action="ApolloServlet" method="post" id="creatParty">
				<label for="pname">Party Name: </label><br/>
				<input type="text" id="partyFormLabel" name="pname" required/><br/><br/>
				<label for="pdesc">Description: </label>
				<textarea rows="5" cols="10" id="partyForm" name="pdesc" form="creatParty" required></textarea><br/><br/>
				<label for="address">Address: </label>
				<input type="text" id="partyFormLabel" name="address" required/><br/><br/>
				<div id="partyLeft">
					<label for="timeStartH">Time Start: </label><br/>
					<input type="datetime-local" id="partyFormLabel" name="timeStart" required/><br/>
				</div>
				<div id="partyRight">
					<label for="timeEnd">Time End: </label><br/>
					<input type="datetime-local" id="partyFormLabel" name="timeEnd" required/><br/><br/>
				</div>
				<br/><br/><br/><br/>
				<input type="radio" name="partyType" value="public" checked>Public<br/>
				<input type="radio" name="partyType" value="private">Private<br/><br/>
				<input type="submit" name="button" value="Create Party" />
				<input type="hidden" name="page" value="newParty"/>
			</form>	
		</div>
	</div>
</body>
</html>
