<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="CSS/style.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="finalProject.js"></script>
	<link rel="shortcut icon" href="favicon.ico">
	<title>Apollo Sign In</title>
</head>
<body>
	<div id="topBar" class="homeDivs">
		<span id="title">Apollo Sign In</span>
		
		    <div id="signin">
		    <form method="get" action="createAccount.html">
              <input type="submit" name="button" value="Sign Up"  />
              </form>
            </div>
		
	</div>
	<br/>
	<br/>
	<div id="accountForm">
		<p>${again}</p>
		<div id="innerDiv" class="homeDivs">
			<form action="ApolloServlet" method="post" id="signInForm">
				<label for="uname">Username: </label>
				<input type="text" id="accountForm" name="uname" required /><br/><br/>
				<label for="pword">Password: </label>
				<input type="password" id="accountForm" name="pword" required /><br/><br/>
				<input type="submit" name="button" value="Sign In" />
                <input type="hidden" name="page" value="login"/>
			</form>	
		</div>
	</div>
</body>
</html>