<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="CSS/finalProject.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="finalProject.js"></script>
	<title>Apollo Dashboard</title>
	
</head>
<body>
	<div id="topBar" class="homeDivs">
		<span id="title">Apollo Dashboard</span>
		
		<div id="signin">
			<input type="submit" name="logout" value="Sign Out" form="homePageForm" />	
		</div>
	</div>
	<br/>
	<br/>
	<div id="dashboard" class="homeDivs">
		<div id="userDash">
			<h1>Welcome ${name}!</h1>
			<div id="homeButtons">
				<form action="ApolloServlet" method="post" id="homePageForm">
					<input type="submit" name="button1" value="View Invites" />
					<input type="submit" name="button2" value="Host a New Party" />
					<input type="submit" name="button3" value="Find a Party" />
					<input type="hidden" name="page" value="userHome"/>
					<input type="hidden" name="user" value="${user?html}"/>
					<input type="hidden" name="test" value="${test?html}"/>
				</form>	
			</div>
		</div>

		<div id="hostingParties">
			Parties Hosted
			<table border=1>
			<#list partiesSeq as partySeq>
			<tr><td>${partySeq}
			</#list>
		</div>

		<div id="attendingParties">
			Parties Attending
		</div>
		<span class="stretch"></span>
	</div>
</body>
</html>