<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="CSS/finalProject.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="finalProject.js"></script>
	<title>View <#if partyName??>${partyName}<#else>Name</#if></title>
</head>
<body>
	<div id="topBar" class="homeDivs">
		<span id="title"> <#if partyName??>${partyName}<#else>Name</#if></span>
		<div id="signin">
			<form method="get" action="index.html">
				<input type="submit" name="logout" value="Sign Out" form="signUpForm" />
			</form>
		</div>
	</div>
	<br/>
	<br/>

	<div id="dashboard" class="homeDivs">
		<div id="partyInfo">
			<h2>Description:</h2>
			<p><#if partyDesc??>${partyDesc}<#else>Description</#if></p>
			<br/>
			<h2>Address:</h2>
			<p><#if address??>${address}<#else>address</#if></p>
			<br/>
			<p>From <#if timeStart??>${timeStart}<#else>start</#if> to <#if timeEnd??>${timeEnd}<#else>end</#if></p>
		</div>

		<div id="guestList">
			<div id="homeButtons">
				<form action="ApolloServlet" method="post" id="">
					<label for="addGuest">Enter a Username:</label>
					<input type="text" id="guestListEdit" name="newGuest" required/>
					<input type="submit" name="button" value="Entery Guest" />
					<input type="hidden" name="page" value="viewParty"/>
				</form>
			</div>
			Guests:<br/><br/>
			<#if guestList??>
			<table>
			<#list guestList as guestList>
			<tr><td>${guestList}
			</#list>
			</table>
			<#else>Im a taco</#if>
		</div>

		<div id="toBringList">
			<div id="homeButtons">
				<input type="submit" name="button" value="Edit To-Bring List" />
			</div>	
			Things to Bring:<br/><br/>
			<#if bringSeq??>
			<table>
			<#list bringSeq as bringSeq>
			<tr><td>${bringSeq}
			</#list>
			</table>
			<#else>NOthing in bringlist</#if>
		</div>

		<div id="musicPlaylist">
			<div id="homeButtons">
				<input type="submit" name="button" value="Edit Playlist" />
			</div>	
			Music Recommendations:<br/><br/>
			<#if musicList??><table border=1>
			<#list musicSeq as musicSeq>
			<table>
			<tr><td>${musicSeq}
			</#list>No Music List<#else></#if>
			</table>
		</div>
		<span class="stretch"></span>
	</div>
</body>
</html>