<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="../../CSS/finalProject.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="finalProject.js"></script>
	<title>View <#if partyName??>${partyName}<#else>Party Name</#if></title>
</head>
<body>
	<div id="topBar" class="homeDivs">
		<span id="title"><#if partyName??>${partyName}<#else>Party Name</#if></span>
		<div id="signin">
			<form method="get" action="index.html">
				<input type="submit" name="button" value="Sign Out" form="signUpForm" />
			</form>
		</div>
	</div>
	<br/>
	<br/>

	<div id="dashboard" class="homeDivs">
		<div id="partyInfo">
			<h2>Description:</h2>
			<p><#if partyDesc??>${partyDesc}<#else>Party Description Here</#if></p>
			<br/>
			<h2>Address:</h2>
			<p><#if address??>${address}<#else>Address Here</#if></p>
			<br/>
			<p>From <#if timeStart??>${timeStart}<#else>Time Start here</#if> to <#if timeEnd??>${timeEnd}<#else>Time End here</#if></p>
		</div>

		<div id="guestList">
			<div id="homeButtons">
				<form action="ApolloServlet" method="post" id="guestListEdit">
					<label for="addGuest">Enter a username:</label>
					<input type="text" id="guestListEdit" name="addGuest" required/>
					<input type="submit" name="button" value="Add Guest" />
					<input type="hidden" name="${user?html}" id="user">
					<input type="hidden" name="${partyID?html}" id="partyID">
				</form>
			</div>
			<br/>Guests:<br/><br/>
			<#if guestList??>${guestList}<#else>Guest List here</#if>
		</div>

		<div id="toBringList">
			<div id="homeButtons">
				<form action="ApolloServlet" method="post" id="bringListEdit">
					<label for="newItem">Enter a new item:</label>
					<input type="text" id="bringListEdit" name="newItem" required/>
					<input type="submit" name="button" value="Add Item" />
					<input type="hidden" name="${user?html}" id="user">
					<input type="hidden" name="${partyID?html}" id="partyID">
				</form>
			</div>	
			<br/>Things to Bring:<br/><br/>
			<#if bringList??>${bringList}<#else>Bring List here</#if>
		</div>

		<div id="musicPlaylist">
			<div id="homeButtons">
				<form action="ApolloServlet" method="post" id="musicEdit">
					<label for="newSong">Enter a new song:</label>
					<input type="text" id="musicEdit" name="newSong" required/>
					<input type="submit" name="button" value="Add Song" />
					<input type="hidden" name="${user?html}" id="user">
					<input type="hidden" name="${partyID?html}" id="partyID">
				</form>
			</div>	
			<br/>Music Recommendations:<br/><br/>
			<#if musicList??>${musicList}<#else>Music List here</#if>
		</div>
		<span class="stretch"></span>
	</div>
</body>
</html>
