<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="CSS/finalProject.css" type="text/css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="scripts/upvote.js"></script>
	<script type="text/javascript" src="scripts/update.js"></script>
	<title>View <#if partyName??>${partyName}<#else>Party Name</#if></title>
</head>
<body>
	<div id="topBar" class="homeDivs">
		<span id="title"><#if partyName??>${partyName}<#else>Party Name</#if></span>
		<div id="sign">
			<div class="headerButtons" id="homeButton">
				<form method="post">
					<input type="submit" name="home" value="Home" form="header" />
				</form>	
			</div>
			<div class="headerButtons" id="signOutButton">
				<form method="post" id="header">
					<input type="submit" name="logout" value="Sign Out" form="header" />
				</form>
			</div>
		</div>
	</div>
	<br/>
	<br/>

	<div id="dashboard" class="homeDivs">

		<div id="partyInfo">
			Click to upvote this party: <span class="vote"> </span>


	    	<br/><br/>



			<br/><br/>

			<h2>Description:</h2>
			<p><#if partyDesc??>${partyDesc}<#else>Party Description Here</#if></p>
			<br/>
			<h2>Address:</h2>
			<p><#if address??>${address}<#else>Address Here</#if></p>
			<br/>
			<p>From <#if timeStart??>${timeStart}<#else>Time Start here</#if> to <#if timeEnd??>${timeEnd}<#else>Time End here</#if></p>
		</div>

		<div id="guestList">
			<div id="homeButtons">
				
					<label for="addGuest">Enter a username:</label>
					<input type="text" id="guestListEdit" name="addGuest" required/>
					<input type="submit" name="button" value="Add Guest" id="addGuest"/>
				
			</div>
			Guests:<br/><br/>
			<#if guestList??>
			<table id="guestTable">
			<#list guestList as guestList>
			<tr><td>${guestList}
			</#list>
			</table>
			<#else>Im a taco</#if>
		</div>

		<div id="toBringList">
			<div id="homeButtons">
				
					<label for="newItem">Enter a new item:</label>
					<input type="text" id="bringListEdit" name="newItem" required/>
					<input type="submit" name="addItem" value="Add Item" id="addItem"/>
					<input type="hidden" name="page" value="viewParty"/>
				
			</div>	
			Things to Bring:<br/><br/>
			<#if bringSeq??>
			<table id="bringTable">
			<#list bringSeq as bringSeq>
			<tr><td>${bringSeq}
			</#list>
			</table>
			<#else>NOthing in bringlist</#if>
		</div>

		<div id="musicPlaylist">
			<div id="homeButtons">

					<label for="newSong">Enter a new song:</label>
					<input type="text" id="musicEdit" name="newSong" required/>
					<input type="submit" name="addSong" value="Add Song" id="addSong"/>


			</div>	
			Music Recommendations:<br/><br/>
			<#if musicSeq??><table id="musicTable" >
			<table>
			<#list musicSeq as musicSeq>
			<tr><td>${musicSeq}
			</#list><#else></#if>
			</table>
		</div>
		<span class="stretch"></span>
	</div>
</body>
</html>