<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="CSS/finalProject.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="finalProject.js"></script>
	<title>Public Parties</title>
</head>
<body>
	<div id="topBar" class="homeDivs">
		<span id="title">Public Parties Happening Now</span>
		<div id="sign">
			<div class="headerButtons" id="homeButton">
				<form method="get">
					<input type="submit" name="home" value="Home" form="header" />
				</form>	
			</div>
			<div class="headerButtons" id="signOutButton">
				<form method="get" id="header">
					<input type="submit" name="logout" value="Sign Out" form="header" />
				</form>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<div id="partyForm">
		<div id="innerDiv" class="homeDivs">
			<h1>List of Top Public Parties Happening Right Now!</h1>
			<br/><br/>
			<#if publicParties??>
			<form method="post" action="ApolloServlet">
			<table>
			<#list publicParties as publicParties>
			<tr><td><input type="radio" name="party" value="${publicParties?html}"/>${publicParties}
			</#list>
			</table>
			<input type="submit" name="button" value="view"/>
			<input type="hidden" name="page" value="viewPublicParties"/>
			</form>
			<#else></#if>
		</div>
	</div>
</body>
</html>
